body{
    background-image: url(fundo_site.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
   
}

.titulo{
    background-color: #FFFFCC;
    font-family: verdana;
    font-size: 25px;
    font-weight: 800;
    text-decoration: underline;
    text-align: center;
    color: #900;
    text-transform: uppercase;
}

.data{
    font-family: serif;
    font-size: 13px;
    color: #F00;
    font-weight: 800;
    text-align: center;
    
}

.p1{
    font-family: arial;
    font-size: 15px;
    color: #00F;
    text-align: justify
}

.p2{
    font-family: arial;
    font-size: 15px;
    color: #00F;
    text-align: justify
}

.p3{
    font-family: arial;
    font-size: 15px;
    color: #00F;
    text-align: justify
}

.p4{
    font-family: arial;
    font-size: 15px;
    color: #00F;
    text-align: justify
}

.p5{
    font-family: arial;
    font-size: 15px;
    color: #00F;
    text-align: justify
}

.p6{
    font-family: arial;
    font-size: 15px;
    color: #00F;
    text-align: justify
}

.p7{
    font-family: arial;
    font-size: 15px;
    color: #00F;
    text-align: justify
}

.rodape{
    background-color: #FFFFCC;
    font-family: verdana;
    font-size: 20px;
    font-weight: 800;
    text-decoration: underline;
    text-align: center;
    color: #900;
    text-transform: uppercase;
}

.menu:link{
    text-decoration: none;
    color: black;
}

.menu:visited{
    text-decoration: none;
    color:yellow;
}

.menu:hover{
    text-decoration: none;
    color: #0F0 ;
}


.menu:active{
    color: blue;
    text-decoration: none;
}

